body {
    margin: 0;
    text-align: center;
    
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 575px;
    height: 385px;

    background: #1B244A
}

button {
    background: none;
}



